.space--both-2
  h2.gamma Badges
  p Badges have a default style usually based on secondary dark color. Then there are badges for notices and alerts, defined as modifiers.

.badge new
.badge 4
.badge--alert alert
.badge--notice notice
