.button
  border: none
  border-radius: 2px
  height: 36px
  padding: 0 2rem
  text-transform: uppercase
  -webkit-tap-highlight-color: transparent
  letter-spacing: .5px
  line-height: 36px
  color: white
  background-color: $primary-color
  transition: .3s ease-out
  transition-property: initial
  transition-duration: 0.3s
  transition-timing-function: ease-out
  transition-delay: initial

  &:hover
    background-color: $lighter-primary-color
    +z-depth(1)

.button--floating
.button--raised