+block("Flash messages", ".flash")

  +example("Notice message", ".flash--notice")
    .flash--notice Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod

  +example("Alert message", ".flash--alert")
    .flash--alert Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod

