+block("Hero", ".hero")

  +example("Example")
    .hero
      .hero__sticky
        p.blurb Sticky area
      .hero__body
        .hero__body__inner
          .hero__heading Aut aut quibusdam autem
          .hero__text
            p Ipsum autem consequatur eligendi est dolores nihil temporibus iste nam impedit consequatur sit incidunt est dolores fugiat ut saepe sit
          p.hero__actions
            .nav
              .nav__item
                a.button--huge(href='#') First action
              .nav__item
                a.button--huge(href='#') Second action

