+block("Vertical spacing", ".space")

  +variables
    pre.
      $space-unit: 12px
      $space-amounts: ( 1, 2, 3, 5, 8 )

  each label, type in {'top': 'Top spacing', 'bottom': 'Bottom spacing', 'both': 'Both ways'}
    +example(label, ".space--" + type + "-${amount}")
      .blurb
        div(class="space--"+type+"-3")
          .blurb Mind the gap!

