+block("Selective visibility", ".visible")

  +example("Example", ".visible--on-${breakpoint}")
    each query in ["eq-palm", "eq-lap", "eq-desk"]
      .blurb--with-margin(class="visible--on-"+query)= ".visible--on-"+query

  +example("Selective invisibility", ".hidden--on-${breakpoint}")
    each query in ["eq-palm", "eq-lap", "eq-desk"]
      .blurb--with-margin(class="hidden--on-"+query)= ".hidden--on-"+query

