+block("Maximum layout width", ".wrap")

  +example("Example", false, true)
    .wrap
      .blurb Hello, sexy.

  +example("Responsive version", ".wrap--on-$breakpoint", true)
    each query in ["eq-palm", "eq-lap", "eq-desk"]
      div(class="wrap--on-"+query)
        .blurb--with-margin: code= ".wrap--on-"+query

