$amber-color                    : #ffc107
$black-color                    : #000000
$blue-color                     : #1E88E5
$blue-gray-color                : #607d8b
$brown-color                    : #795548
$cyan-color                     : #00bcd4
$deep-orange-color              : #ff5722
$deep-purple-color              : #673ab7
$gray-color                     : #9e9e9e
$green-color                    : #4CAF50
$indigo-color                   : #3f51b5
$light-blue-color               : #03a9f4
$light-green-color              : #8bc34a
$lime-color                     : #cddc39
$material-red-color             : #e51c23
$material-lighter-red-color     : #e7363c
$orange-color                   : #ff9800
$pink-color                     : #e91e63
$purple-color                   : #9c27b0
$red-color                      : #F44336
$teal-color                     : #009688
$white-color                    : #ffffff
$yellow-color                   : #ffeb3b

$base-body-color                : $black-color
$light-body-color               : $gray-color
$light-bg-color                 : #f9f9f9
$border-color                   : $gray-color
$alert-color                    : $red-color
$notice-color                   : $orange-color
$primary-color                  : $material-red-color
$secondary-color                : $cyan-color
$lighter-primary-color          : $material-lighter-red-color

// Specific components color map

$badge-color                    : darken($secondary-color, 10%)
$button-color                   : $cyan-color
$collections-color              : $material-red-color
$collections-hover-color        : lighten($gray-color, 30%)
$collections-text-color         : $white-color
$input-border-color             : $secondary-color
$input-success-color            : $green-color
$input-error-color              : $red-color
