doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title Bemo
    meta(content='width=device-width,minimum-scale=1,maximum-scale=1', name='viewport')
    link(href='/stylesheets/application.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/styleguide.css', rel='stylesheet', type='text/css')
    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js")
    script(src="//lovasoa.github.io/tidy-html5/tidy.js")
    script.
      var options = {
        "indent":               "auto",
        "indent-spaces":        2,
        "wrap":                 80,
        "markup":               true,
        "output-xml":           false,
        "numeric-entities":     true,
        "quote-marks":          true,
        "quote-nbsp":           false,
        "show-body-only":       true,
        "quote-ampersand":      false,
        "break-before-br":      true,
        "uppercase-tags":       false,
        "uppercase-attributes": false,
        "drop-font-tags":       false,
        "tidy-mark":            false,
        "clean":                false,
        "vertical-space":       true,
        "drop-empty-elements":  false,
        "drop-empty-paras":     false
      };

      document.addEventListener("DOMContentLoaded", function() {
        var examples = document.querySelectorAll(".example");
        for (var i = 0; i < examples.length; i++) {
          var example = examples[i];
          var demo = example.querySelector(".example__demo");
          var code = example.querySelector(".example__code");
          code.textContent = tidy_html5(demo.innerHTML, options);
        }
      });

  body
    mixin lorem(count)
      each line in loop(count)
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    mixin block(title, cssClass)
      .block
        .wrap
          if cssClass
            p.block__code!= formatClass(cssClass)
          h4.block__title #{title}

        block

    mixin variables
      .block__part: .block__part__inner
        .wrap
          h6.block__subtitle Options

          block

    mixin example(title, cssClass, dontWrap)
      .block__part: .block__part__inner
        .wrap
          if cssClass
            p.block__code!= formatClass(cssClass)
          h6.block__subtitle #{title}

        .example
          div(class=(dontWrap ? '' : 'wrap'))
            .example__demo
              block
          .wrap: pre.example__code: code

    .hero--primary
      .wrap
        .hero__body
          .hero__body__inner
            .hero__heading: .bemo-logo BEMO
            .hero__text
              p.gamma Start your next project with the right foot: a scalable frontend architecture.
            p.hero__actions
              .nav
                .nav__item: a.button.button--rev.button--huge(href='http://stefanoverna.github.io/bemo/stylesheets/application.css') Download
                .nav__item: a.button.button--rev.button--huge(href='http://github.com/stefanoverna/bemo') 
                  span Github
                  i.icon--arrow-right

    .space--both-5: .wrap: .intro
      .formatted-content
        :markdown
          # What is is?

          Glad you asked! BEMO is a Sass-based project starter meant to be a starting point and structural
          guide rather than a full framework. It's bare enough to not interfere with your 
          custom styles or scripts, but yet has enough functioning modules to jumpstart 
          a project in no time.

          Bemo strictly follows the [BEM naming methodology](http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/),
          and is heavily inspired by the [inuit.css framework](https://github.com/csswizardry/inuit.css/).

          Bemo is accompanied by a Grunt task that easily lets you generate:

          1. Custom icon webfonts starting from a set of SVGs;
          2. Retina-ready, resizable sprites.

    .blocks
      include ./blocks/grid.jade
      include ./blocks/space.jade
      include ./blocks/visible.jade
      include ./blocks/wrap.jade
      include ./blocks/font-size.jade
      include ./blocks/input.jade
      include ./blocks/form.jade
      include ./blocks/formatted-content.jade
      include ./blocks/flash.jade
      include ./blocks/hero.jade
      include ./blocks/button.jade
      include ./blocks/table.jade
      include ./blocks/flag.jade
      include ./blocks/nav.jade
      include ./blocks/icon.jade
      include ./blocks/sprite.jade
      include ./blocks/or.jade
      include ./blocks/canvas.jade
      include ./blocks/dialog.jade

    script.
      document.addEventListener('DOMContentLoaded', function(){
        var elements = document.querySelectorAll('[data-class-toggle]');

        Array.prototype.forEach.call(elements, function(el, i) {
          var classToToggle = el.getAttribute('data-class-toggle');
          var elToToggle = document.querySelector(el.getAttribute('data-element'));

          el.addEventListener('click', function(e) {
            var method = elToToggle.classList.contains(classToToggle) ? 'remove' : 'add';
            elToToggle.classList[method](classToToggle);
            e.stopPropagation();
            e.preventDefault();
          });
        });
      });

