+block("Buttons", ".button")

  +example("Work on links, buttons and labels")
    a.button(href='#') Link
    | &nbsp;
    button.button Button
    | &nbsp;
    input.button(type='submit', value='Submit')
    | &nbsp;
    label.button
      input.hidden(type='file')
      span Upload file...

  +example("Fill the entire width", ".button--expand")
    a.button--expand(href='#') Button

  +example("Sizes", ".button--small, .button--large, .button--huge")
    a.button--small(href='#') Button
    | &nbsp;
    a.button--large(href='#') Button
    | &nbsp;
    a.button--huge(href='#') Button

  +example("Colors", ".button--primary, .button--notice, .button--alert, .button--rev")
    a.button--primary(href='#') Button
    | &nbsp;
    a.button--notice(href='#') Button
    | &nbsp;
    a.button--alert(href='#') Button
    | &nbsp;
    a.button--rev(href='#') Button

  +example("Icons", false)
    p.space--bottom-2
      a.button--notice(href='#')
        span Alright
        i.icon--check

    p
      a.button--alert(href='#')
        i.icon--cross
        span Delete this

