+block("User generated content formatting", ".formatted-content")

  +example
    .formatted-content
      h1 Ullam quaerat repudiandae cupiditate voluptate

      p Consectetur deserunt dolorum aut perspiciatis laudantium aut in dolor vitae quia praesentium dolorum rem iusto. expedita quibusdam minus omnis aut occaecati aliquid. deserunt quasi minima saepe voluptate reprehenderit atque eius accusantium nesciunt repellendus explicabo. consequatur laudantium numquam deserunt

      h2 Et minima sit debitis libero assumenda porro explicabo aut debitis

      p Consectetur deserunt dolorum aut perspiciatis laudantium aut in dolor vitae:

      ul
        li Ut eius tenetur nulla eligendi repellat omnis deserunt blanditiis amet esse. 
        li Omnis enim magni voluptatem amet aut ut nam facilis voluptatem eligendi reprehenderit ipsum recusandae soluta. 

      h3 Ut temporibus nihil ex ut

      p Consectetur deserunt dolorum aut perspiciatis laudantium aut in dolor vitae:

      blockquote Consectetur deserunt dolorum aut perspiciatis laudantium aut in dolor vitae quia praesentium dolorum rem iusto. expedita quibusdam minus omnis aut occaecati aliquid. deserunt quasi minima saepe voluptate reprehenderit atque eius accusantium nesciunt repellendus explicabo. consequatur laudantium numquam deserunt

      table
        thead
          tr
            th #
            th Make
            th Model
            th Year
        tbody
          tr
            td(data-title='#')     1
            td(data-title='Make')  Honda
            td(data-title='Model') Accord
            td(data-title='Year')  2009
          tr
            td(data-title='#')     2
            td(data-title='Make')  Toyota
            td(data-title='Model') Camry
            td(data-title='Year')  2012
          tr
            td(data-title='#')     3
            td(data-title='Make')  Hyundai
            td(data-title='Model') Elantra
            td(data-title='Year')  2010

