+block("User generated content formatting", ".formatted-content")

  +example
    .formatted-content
      h1 Ullam quaerat repudiandae cupiditate voluptate tempora ducimus deleniti voluptates quae
      p Consectetur deserunt dolorum aut perspiciatis laudantium aut in dolor vitae quia praesentium dolorum rem iusto. expedita quibusdam minus omnis aut occaecati aliquid. deserunt quasi minima saepe voluptate reprehenderit atque eius accusantium nesciunt repellendus explicabo. consequatur laudantium numquam deserunt

      h2 Et minima sit debitis libero assumenda porro explicabo aut debitis
      ul
        li Ut eius tenetur nulla eligendi repellat omnis deserunt blanditiis amet esse. accusantium fuga sequi explicabo aperiam corrupti autem libero omnis dolor. et quis culpa reiciendis nemo aliquam doloremque deleniti eius voluptatem enim earum quaerat saepe non. et minima minima est consequatur officiis eaque unde cupiditate et quos
        li Omnis enim magni voluptatem amet aut ut nam facilis voluptatem eligendi reprehenderit ipsum recusandae soluta. voluptates vero id aliquam debitis repellat quod. molestiae aliquam vel quas magni qui aut saepe nihil perspiciatis sequi. qui consequatur neque ea ullam enim. laborum ipsa maxime rerum enim nihil omnis

      h3 Ut temporibus nihil ex ut
      ol
        li Culpa molestias quos adipisci. maxime quam reiciendis quisquam iusto nemo velit omnis aut. officia quas neque iusto dicta omnis deleniti sit dolorem. voluptate tempora et et eligendi maxime magnam dignissimos
        li Voluptatem ut rerum voluptatum nobis qui sequi perferendis. nisi architecto fugiat et nulla autem magnam dolore recusandae eos suscipit ut accusamus eum velit. id voluptates quaerat suscipit

      table
        thead
          tr
            th #
            th Make
            th Model
            th Year
        tbody
          tr
            td(data-title='#')     1
            td(data-title='Make')  Honda
            td(data-title='Model') Accord
            td(data-title='Year')  2009
          tr
            td(data-title='#')     2
            td(data-title='Make')  Toyota
            td(data-title='Model') Camry
            td(data-title='Year')  2012
          tr
            td(data-title='#')     3
            td(data-title='Make')  Hyundai
            td(data-title='Model') Elantra
            td(data-title='Year')  2010

