+block("Webfont icons", ".icon")
  +example
    p
      i.icon--checkmark: span Semantic content
      i.icon--cross: span Semantic content
  +example("Different sizes", ".icon--(large|huge)")
    p
      i.icon--checkmark.icon--large
      i.icon--cross.icon--large
    p
      i.icon--checkmark.icon--huge
      i.icon--cross.icon--huge

