+block("Radio and checkbox inputs", ".input--checkbox, .input--radio")
  +example("Example")
    p.space--bottom-2
      label.input--checkbox
        input(type="checkbox" checked)
        span.input__label Check me, it's free

    p
      label.input--radio
        input(type="radio")
        span.input__label Toggle this radio

    p
      label.input--radio
        input(type="radio")
        span.input__label Or this one

  +example("Disabled state")
    p
      label.input--checkbox
        input(type="checkbox" disabled)
        span.input__label Take the red pill

    p.space--bottom-2
      label.input--checkbox
        input(type="checkbox" checked disabled)
        span.input__label Take the blue pill

    p
      label.input--radio
        input(type="radio" disabled)
        span.input__label Toggle this radio

    p
      label.input--radio
        input(type="radio" checked disabled)
        span.input__label Or this one

