+block("Retina-ready sprites", ".sprite")
  +example
    .sprite--one
    | &nbsp;
    .sprite--two

  +example("Resizable sprites", "+sprite-size($sprite, $zoom)")
    .sprite--one.is-half-size

  +example("Centered sprite", ".sprite--center")
    .sprite--one.sprite--center.is-half-size

