+block("Maximum layout width", ".wrap")

  +example(false, false, true)
    .wrap
      .blurb: code= ".wrap"

  +example("Wrap based on breakpoint", ".wrap--on-$breakpoint", true)
    each query in ["eq-palm", "eq-lap", "eq-desk"]
      div(class="wrap--on-"+query)
        .blurb--with-margin: code= ".wrap--on-"+query

