.bemo-logo {
  font-size: 80px; }

.icon-frame {
  border: 1px solid #d7d7d7;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px; }
  .icon-frame i {
    vertical-align: middle; }

.blurb, .blurb--with-margin {
  padding: 10px 5px;
  text-align: center;
  background: #e7e7e7;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-weight: normal;
  color: #939393; }
  .blurb .blurb, .blurb--with-margin .blurb, .blurb .blurb--with-margin, .blurb--with-margin .blurb--with-margin {
    background: #d5d5d5;
    color: #797979; }
  .hero .blurb, .hero .blurb--with-margin, .hero--primary .blurb, .hero--primary .blurb--with-margin {
    background: rgba(0, 0, 0, 0.1); }

.blurb--with-margin {
  margin-bottom: 5px; }

pre {
  background-color: #f9f9f9;
  padding: 15px;
  font-size: 13px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-weight: normal; }

.block {
  padding: 70px 0 10px;
  border-top: 4px solid #d7d7d7; }
  .block:last-child {
    border-bottom: 4px solid #d7d7d7; }

.block__title {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
  font-weight: bold;
  font-size: 35px; }

.block__subtitle {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  font-variant: small-caps;
  letter-spacing: 0.06em;
  margin-bottom: 40px; }

.block__code {
  color: #636363;
  font-size: 13px;
  margin-bottom: 10px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-weight: normal; }
  .block__code span {
    background-color: #f9f9f9;
    padding: 0.2em 0.3em; }

.block__part {
  padding-top: 60px; }
  .block__part:after {
    content: "";
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    background-color: #d7d7d7;
    display: block; }
    .block__part:after::after {
      clear: both;
      content: "";
      display: table; }
  .block__part:last-child:after {
    display: none; }

.block__part__inner {
  padding-bottom: 60px; }
