---
title: Pattern Library
---

.hero
  .wrap
    .hero__body: .hero__body__inner
      .hero__heading Stylesheets
      .hero__text
        p Non-intrusive, reusable BEM components
      p.hero__actions
        = link_to "Browse on Github", "http://github.com/stefanoverna/stylesheets", class: 'button button--primary button--huge gamma'

.wrap

  .space--vertical-margin-5
    section.block
      h6.block__header
        code.block__name .grid
        | Nestable, responsive grid

      .block__body
        .grid
          .grid__item.one-half.palm--one-whole
            .grid
              .grid__item
                p.blurb.blurb--with-margin Grid 1.1
              .grid__item.lap--one-whole.one-third
                p.blurb.blurb--with-margin Grid 1.2
              .grid__item.lap--one-whole.two-thirds
                p.blurb.blurb--with-margin Grid 1.3
          .grid__item.one-half.palm--one-whole
            .grid
              .grid__item.one-half
                p.blurb.blurb--with-margin Grid 2.1
              .grid__item.one-half
                p.blurb.blurb--with-margin Grid 2.2
              .grid__item.lap--one-half.desk--one-third
                p.blurb.blurb--with-margin Grid 2.3
              .grid__item.lap--one-half.desk--one-third
                p.blurb.blurb--with-margin Grid 2.4
              .grid__item.desk--one-third
                p.blurb.blurb--with-margin Grid 2.5
          .grid__item.one-quarter.palm--one-half.push--palm--one-quarter
            p.blurb.blurb--with-margin Grid 3.0
          .grid__item.three-quarters.palm--one-whole
            .grid.grid--rev
              .grid__item.one-half.palm--two-fifths
                p.blurb.blurb--with-margin Grid 4.1
              .grid__item.one-half.palm--two-fifths
                p.blurb.blurb--with-margin Grid 4.2
          .grid__item
            .grid.grid--full
              .grid__item.palm--one-half.lap--one-half.desk--one-quarter
                p.blurb.blurb--with-margin Grid 5.1
              .grid__item.palm--one-half.lap--one-half.desk--one-quarter
                p.blurb.blurb--with-margin Grid 5.2
              .grid__item.palm--three-fifths.lap--one-quarter.desk--one-quarter.push--lap--one-quarter
                p.blurb.blurb--with-margin Grid 5.3
              .grid__item.palm--two-fifths.lap--one-quarter.desk--one-quarter.push--lap--one-quarter
                p.blurb.blurb--with-margin Grid 5.4
          .grid__item
            .grid.grid--rev.grid--full
              .grid__item.palm--three-fifths.lap--one-quarter.desk--one-quarter
                p.blurb.blurb--with-margin Grid 6.1
              .grid__item.palm--two-fifths.lap--one-quarter.desk--one-quarter.push--lap--one-half
                p.blurb.blurb--with-margin Grid 6.2
              .grid__item.lap--one-whole.desk--one-quarter
                p.blurb.blurb--with-margin Grid 6.3
              .grid__item.lap--one-half.desk--one-quarter.push--lap--one-quarter
                p.blurb.blurb--with-margin Grid 6.4
          .grid__item
            .grid.grid--center
              .grid__item.one-third
                p.blurb.blurb--with-margin Grid 7.1
              .grid__item.one-third
                p.blurb.blurb--with-margin Grid 7.2
          .grid__item
            .grid.grid--right
              .grid__item.one-third
                p.blurb.blurb--with-margin Grid 8.1
              .grid__item.one-third
                p.blurb.blurb--with-margin Grid 8.2
          .grid__item
            .grid
              .grid__item.one-third
                p.blurb.blurb--with-margin Grid 9.1
              .grid__item.one-third
                p.blurb.blurb--with-margin Grid 9.2

  hr

  .space--vertical-margin-5
    section.block
      h6.block__header
        code.block__name .space--$type-$amount
        | Vertical spacing

      .grid
        .grid__item.non-portable--one-half
          - %w(margin-bottom margin-top vertical-margin padding-bottom padding-top vertical-padding).each do |modifier|
            - name = "space--#{modifier}-3"
            .block__body: .variant
              .variant__header: code= ".#{name}"
              .variant__body
                  .space class=name
                    .blurb= lorem.sentence
        .grid__item.non-portable--one-half
          - %w(1 2 3 5 8).each do |amount|
            - name = "space--vertical-margin-#{amount}"
            .block__body: .variant
              .variant__header: code= ".#{name}"
              .variant__body
                  .space class=name
                    .blurb= lorem.sentence

  hr

  .space--vertical-margin-5
    section.block
      h6.block__header
        code.block__name .hide--on-$breakpoint
        | Responsive hiding

      .block__body: .variant: .variant__body

        .hide--on-palm
          p.blurb Will be hidden on palms

        .hide--on-lap
          p.blurb Will be hidden on laps

        .hide--on-non-portable
          p.blurb Will be hidden on desktops

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header Typography

      - %w(alpha beta gamma smallprint milli).each do |size|
        .block__body: .variant
          .variant__header: code .#{size}
          .variant__body
            h6 class=size
              = lorem.sentence

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .form
        | Formatted forms

      .block__body: .variant: .variant__body
        form.form
          fieldset
            legend Contact informations
            .form__field.form__field--invalid
              label.form__label Email
              input.form__input--large type="email" placeholder="foo@bar.com"
              .form__error Invalid email
            .form__field
              label.form__label Password
              input type="password" placeholder="Insert your password"
              .form__hint Password must be at least 6 chars long

          hr

          fieldset
            legend Contact informations

            .form__field
              label.form__label First name
              input type="text" placeholder="John"

            .form__field
              label.form__label Last name
              input type="text" placeholder="Doe"

          .form__field
            input.button.button--primary.button--large type="submit" value="Create Contact"

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .formatted-content
        | Formatted content

      .block__body: .variant: .variant__body
        .formatted-content
          h1= lorem.sentence
          p= lorem.paragraph
          h2= lorem.sentence
          ul
            li= lorem.paragraph
            li= lorem.paragraph
          h3= lorem.sentence
          ol
            li= lorem.paragraph
            li= lorem.paragraph
          table
            thead
              tr
                th #
                th Make
                th Model
                th Year
            tbody
              tr
                td 1
                td Honda
                td Accord
                td 2009
              tr
                td 2
                td Toyota
                td Camry
                td 2012
              tr
                td 3
                td Hyundai
                td Elantra
                td 2010

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .flash
        | Flash messages

      - %w(notice alert).each do |modifier|
        - name = "flash--#{modifier}"
        .block__body: .variant
          .variant__header: code= ".#{name}"
          .variant__body
            .flash class=name
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .hero
        | Hero

      .block__body: .variant: .variant__body

        .hero.hero--primary
          .hero__sticky
            p.blurb Sticky area
          .hero__body: .hero__body__inner
            .hero__heading= lorem.words(6).capitalize
            .hero__text
              p= lorem.words(20).capitalize
            p.hero__actions
              .nav
                .nav__item: a.button.button--rev href="#" Foo
                .nav__item: a.button.button--rev href="#" Bar

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .button
        | Buttons

      .block__body
        .variant
          .variant__header: code .button
          .variant__body
            a.button href="#" Link
            ' 
            button.button Button
            ' 
            input.button type="submit" value="Submit"

      - %w(fill small large huge primary notice alert rev).each do |modifier|
        .block__body
          .variant
            .variant__header: code .button--#{modifier}
            .variant__body
              a.button class="button--#{modifier}" href="#" Button

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header Pills

      .block__body
        .variant
          .variant__header: code .pill
          .variant__body
            p
              ' Lorem ipsum 
              span.pill dolor sit
              '
              | amet, consectetur adipisicing elit, sed eiusmod

      - %w(tin primary notice alert).each do |modifier|
        .block__body
          .variant
            .variant__header: code .pill--#{modifier}
            .variant__body
              p
                ' Lorem ipsum 
                span.pill class="pill--#{modifier}" dolor sit
                '
                | amet, consectetur adipisicing elit, sed eiusmod

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .table
        | Formatted table

      .block__body: .variant: .variant__body
        table.table
          thead
            tr
              th #
              th Make
              th Model
              th Year
          tbody
            tr
              td 1
              td Honda
              td Accord
              td 2009
            tr
              td 2
              td Toyota
              td Camry
              td 2012
            tr
              td 3
              td Hyundai
              td Elantra
              td 2010

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .flag
        | Place any image- and text-like content side-by-side

      .block__body: .variant: .variant__body
        .flag
          .flag__image= image_tag lorem.image('100x100')
          .flag__body
            p= lorem.paragraph

      .block__body: .variant
        .variant__header: code .flag--top
        .variant__body
          .flag.flag--top
            .flag__image= image_tag lorem.image('100x100')
            .flag__body
              p= lorem.paragraph

      .block__body: .variant
        .variant__header: code .flag--bottom
        .variant__body
          .flag.flag--bottom
            .flag__image= image_tag lorem.image('100x100')
            .flag__body
              p= lorem.paragraph

      .block__body: .variant
        .variant__header: code .flag--rev
        .variant__body
          .flag.flag--rev
            .flag__body
              p= lorem.paragraph
            .flag__image= image_tag lorem.image('100x100')

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .nav
        | Navigation

      .block__body: .variant: .variant__body
        ul.nav
          li.nav__item= link_to "Terms of Service", "#"
          li.nav__item= link_to "Privacy Policy", "#"
          li.nav__item= link_to "Support", "#"

      .block__body: .variant
        .variant__header: code .nav--pagination
        .variant__body
          ul.nav.nav--pagination
            li.nav__item.nav__item--first First
            li.nav__item.nav__item--prev Previous
            li.nav__item.nav__item--current 1
            - 5.times do |i|
              li.nav__item= link_to i+2, "#"
            li.nav__item.nav__item--next= link_to "Next", "#"
            li.nav__item.nav__item--last= link_to "Last", "#"

      - %w(center fill csv dots breadcrumb).each do |modifier|
        .block__body: .variant
          .variant__header: code .nav--#{modifier}
          .variant__body
            ul.nav class="nav--#{modifier}"
              li.nav__item= link_to "Terms of Service", "#"
              li.nav__item= link_to "Privacy Policy", "#"
              li.nav__item= link_to "Support", "#"

  hr

  .space--vertical-margin-8
    section.block
      h6.block__header
        code.block__name .i
        | Font icons

      .block__body: .variant: .variant__body
        p
          i.i--checkmark
          '
          i.i--cross
        p
          i.i--checkmark.i--large
          '
          i.i--cross.i--large
        p
          i.i--checkmark.i--huge
          '
          i.i--cross.i--huge

